{% extends 'orders/base.html' %}
{% load static %}
{% block content %}
  <h1>Clientes</h1>
  <a href="{% url 'cliente-create' %}" class="btn btn-primary">
    <span class="fa fa-plus"></span>
    Novo cliente
  </a>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in clientes %}
        <tr>
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.email }}</td>
          <td>
            <a href="{% url 'cliente-edit' cliente.id %}" class="btn btn-warning color-white btn-sm">
              <span class="fa fa-edit"></span>
              Editar
            </a>
            <form action="{% url 'cliente-delete' cliente.id %}" method="post" style="display:inline;">
              <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-url="{% url 'cliente-delete' cliente.id %}" onclick="setActionFormDeleteModal(this)">
                <span class="fa fa-trash"></span>
                Excluir
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block modal_title %}Excluir Cliente{% endblock %}
{% block modal_body %}Tem certeza que deseja excluir este cliente?{% endblock %}
{% block btn_type %}danger{% endblock %}