{% extends "orders/base.html" %}
{% block title %}Ordens de Serviço - OS Manager{% endblock %}
{% block content %}
<h1>Ordens de Serviço</h1>

<a href="{% url 'ordem-create' %}" class="btn btn-primary mb-3">
  <span class="fa fa-plus"></span>
  <span>Nova ordem de serviço</span>
</a>

<form method="GET" class="mb-3">
  <div class="input-group">
    <input type="text" name="search" class="form-control" placeholder="Buscar..." value="{{ request.GET.search }}">
    <button class="btn btn-primary">
      <span class="fa fa-search"></span> Buscar
    </button>
  </div>
</form>
{% if is_paginated %}
  <nav>
    <ul class="pagination">

      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}">Anterior</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Anterior</span>
        </li>
      {% endif %}

      {% for num in paginator.page_range %}
        {% if num == page_obj.number %}
          <li class="page-item active">
            <span class="page-link">{{ num }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ num }}&search={{ request.GET.search }}">{{ num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}">Próxima</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Próxima</span>
        </li>
      {% endif %}

    </ul>
  </nav>
{% endif %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Cliente</th>
      <th>Veículo</th>
      <th>Status</th>
      <th></th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for ordem in ordens %}
      <tr>
        <td>{{ ordem.descricao }}</td>
        <td>{{ ordem.cliente.nome }}</td>
        <td>{{ ordem.veiculo.modelo }} ({{ ordem.veiculo.placa }})</td>
        <td>
          <div>
            <span class="badge" style="background-color: {{ ordem.status.cor }};">{{ ordem.status.descricao }}</span>
          </div>
        </td>
        <!-- <td>{{ ordem.criado_em|date:"d/m/Y H:i" }}</td> -->
         <td>
          <a href="{% url 'responsavel-list' ordem.id %}">
            <span class="fa fa-users" title="Responsáveis"></span>
          </a>
         </td>
        <td>
          <a href="{% url 'ordem-edit' ordem.id %}" class="btn btn-sm btn-warning">
            <span class="fa fa-edit"></span>
            Editar
          </a>
          <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-url="{% url 'ordem-delete' ordem.pk %}" onclick="setActionFormDeleteModal(this)">
            <span class="fa fa-trash"></span>
            <span>Excluir</span>
          </button>
      </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="6">
          <div class="no-data-found-table" role="alert">
              <span class="fa fa-search" style="font-size: inherit !important;"></span>
              <span>Nenhuma ordem encontrada.</span>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block modal_title %}Excluir Ordem de Serviço{% endblock %}
{% block modal_body %}Tem certeza que deseja excluir essa ordem de serviço?{% endblock %}
{% block btn_type %}danger{% endblock %}