{% extends "orders/base.html" %}
{% block title %}Ordens de Serviço - OS Manager{% endblock %}
{% block content %}
<h1>Ordens de Serviço</h1>

<a href="{% url 'ordem-create' %}" class="btn btn-primary mb-3">
  <span class="fa fa-plus"></span>
  Nova ordem de serviço
</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Cliente</th>
      <th>Veículo</th>
      <th>Status</th>
      <th>Criado em</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for ordem in ordens %}
      <tr>
        <td>{{ ordem.id }}</td>
        <td>{{ ordem.cliente }}</td>
        <td>{{ ordem.veiculo }}</td>
        <td>{{ ordem.get_status_display }}</td>
        <td>{{ ordem.criado_em|date:"d/m/Y H:i" }}</td>
        <td>
          <a href="{% url 'ordem-edit' ordem.id %}" class="btn btn-sm btn-warning">
            <span class="fa fa-edit"></span>
            Editar
          </a>
          <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-url="{% url 'ordem-delete' ordem.pk %}" onclick="setActionFormDeleteModal(this)">
            <span class="fa fa-trash"></span>
            Excluir
          </button>
      </td>
      </tr>
    {% empty %}
       <div class="no-data-found-table" role="alert">
          <span class="fa fa-search" style="font-size: inherit !important;"></span>
          <span>Nenhuma ordem encontrada.</span>
        </div>
    {% endfor %}
  </tbody>
</table>
<script src="{% static 'js/ordem-list.js' %}"></script>
{% endblock %}
