{% extends 'orders/base.html' %}
{% block title %}Veículos - OS Manager{% endblock %}

{% block content %}
  <h2 class="mb-4">Lista de Veículos</h2>
  <a href="{% url 'veiculo-create' %}" class="btn btn-primary mb-3">
    <span class="fa fa-plus"></span>
    Adicionar Veículo
  </a>
  <form method="GET" class="mb-3">
    <div class="input-group">
      <input type="text" name="search" class="form-control" placeholder="Buscar..." value="{{ request.GET.search }}">
      <button class="btn btn-primary">
        <span class="fa fa-search"></span> Buscar
      </button>
    </div>
  </form>
  {% if is_paginated %}
    <nav>
      <ul class="pagination">

        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}">Anterior</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Anterior</span>
          </li>
        {% endif %}

        {% for num in paginator.page_range %}
          {% if num == page_obj.number %}
            <li class="page-item active">
              <span class="page-link">{{ num }}</span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ num }}&search={{ request.GET.search }}">{{ num }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}">Próxima</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Próxima</span>
          </li>
        {% endif %}

      </ul>
    </nav>
  {% endif %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Placa</th>
        <th>Modelo</th>
        <th>Ano</th>
        <th>Cliente</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for veiculo in veiculos %}
        <tr>
          <td>{{ veiculo.placa }}</td>
          <td>{{ veiculo.modelo }}</td>
          <td>{{ veiculo.ano }}</td>
          <td>{{ veiculo.cliente.nome }}</td>
          <td>
            <a href="{% url 'veiculo-edit' veiculo.pk %}" class="btn btn-sm btn-warning">
              <span class="fa fa-edit"></span>
              <span>Editar</span>
            </a>
            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-url="{% url 'veiculo-delete' veiculo.id %}" onclick="setActionFormDeleteModal(this)">
              <span class="fa fa-trash"></span>
              Excluir
            </button>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">
            <div class="no-data-found-table" role="alert">
              <span class="fa fa-search" style="font-size: inherit !important;"></span>
              <span>Nenhum veículo encontrado.</span>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block modal_title %}Excluir Veículo{% endblock %}
{% block modal_body %}Tem certeza que deseja excluir este veículo?{% endblock %}
{% block btn_type %}danger{% endblock %}