@import "../../node_modules/bootstrap/scss/bootstrap";

$brand: #a74ad3;

body {
  font-family: Arial, sans-serif;
  background: #F7F7F7;
}

.navbar-custom {
  background-color: $brand;
  
  .nav-link { 
    color: #FFF;
  }
}

.btn-primary {
  background-color: $brand !important;
  border: none;

  &:hover {
    background-color: darken($brand, 10%) !important;
  }
}

.no-data-found-table {
  font-size: 18px !important;
  color: #636363 !important;
  gap: 10px;
  height: 100px !important;

  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
}