@import "../../node_modules/bootstrap/scss/bootstrap";

$brand: #37a09c;

body {
  font-family: Arial, sans-serif;
  background: #F7F7F7;
}

.navbar-custom {
  background-color: $brand;
  
  .nav-link { 
    color: #FFF;
  }
}

.btn-primary {
  background-color: $brand !important;
  border: none;

  &:hover {
    background-color: darken($brand, 10%) !important;
  }
}